@font-face {font-family: 'Texta';font-weight: bold;font-style: italic;src: url('./webfonts/35ABAF_0_0.eot');src: url('./webfonts/35ABAF_0_0.eot?#iefix') format('embedded-opentype'),url('./webfonts/35ABAF_0_0.woff2') format('woff2'),url('./webfonts/35ABAF_0_0.woff') format('woff'),url('./webfonts/35ABAF_0_0.ttf') format('truetype');}


@font-face {font-family: 'Texta';font-weight: normal;font-style: italic;src: url('./webfonts/35ABAF_1_0.eot');src: url('./webfonts/35ABAF_1_0.eot?#iefix') format('embedded-opentype'),url('./webfonts/35ABAF_1_0.woff2') format('woff2'),url('./webfonts/35ABAF_1_0.woff') format('woff'),url('./webfonts/35ABAF_1_0.ttf') format('truetype');}


@font-face {font-family: 'TrendHandMade';font-weight: normal;font-style: normal;src: url('./webfonts/35ABAF_2_0.eot');src: url('./webfonts/35ABAF_2_0.eot?#iefix') format('embedded-opentype'),url('./webfonts/35ABAF_2_0.woff2') format('woff2'),url('./webfonts/35ABAF_2_0.woff') format('woff'),url('./webfonts/35ABAF_2_0.ttf') format('truetype');}


@font-face {font-family: 'TrendHandMade';font-weight: bold;font-style: normal;src: url('./webfonts/35ABAF_3_0.eot');src: url('./webfonts/35ABAF_3_0.eot?#iefix') format('embedded-opentype'),url('./webfonts/35ABAF_3_0.woff2') format('woff2'),url('./webfonts/35ABAF_3_0.woff') format('woff'),url('./webfonts/35ABAF_3_0.ttf') format('truetype');}


@font-face {font-family: 'Texta';font-weight: bold;font-style: normal;src: url('./webfonts/35ABAF_4_0.eot');src: url('./webfonts/35ABAF_4_0.eot?#iefix') format('embedded-opentype'),url('./webfonts/35ABAF_4_0.woff2') format('woff2'),url('./webfonts/35ABAF_4_0.woff') format('woff'),url('./webfonts/35ABAF_4_0.ttf') format('truetype');}


@font-face {font-family: 'Texta';font-weight: normal;font-style: normal;src: url('./webfonts/35ABAF_5_0.eot');src: url('./webfonts/35ABAF_5_0.eot?#iefix') format('embedded-opentype'),url('./webfonts/35ABAF_5_0.woff2') format('woff2'),url('./webfonts/35ABAF_5_0.woff') format('woff'),url('./webfonts/35ABAF_5_0.ttf') format('truetype');}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes examp {
    from {opacity: 0;}
    to {opacity: .8;}
}

.fadebk {
    opacity: 0;
    transition: opacity 1s;
}

.fadeout {
    opacity: 1;
    transition: opacity 1s;
}

.fadeIn8 {
	animation-name: examp;
  animation-duration: 1s;
}


.fadeIn {
	animation-name: example;
  animation-duration: 1s;

}

#a, #b, #c {
	padding: 20px;
}

p, span, li {
	font-family: 'Texta';
	line-height: 1.25rem;
}

h1,h2,h3 {
	font-family: 'TrendHandMade';
	font-weight: bold;
}

h4,h5 {
	font-family: 'TrendHandMade';
	font-weight: normal;
}

#paneUnder {
	width:25%;
	height:70vh;
	position:fixed;
	top:15vh;
	left:70%;
	border-radius: 10px;
	background-color: #ffffff;
	opacity: .9;
	box-shadow: 0px 0px 10px #757575;
}

#pane {
	width:25%;
	height:70vh;
	position:fixed;
	top:15vh;
	left:70%;
	border-radius: 10px;
	overflow-y: auto;
	overflow-x:hidden;
}

.hidden {
	visibility: hidden;
}

.bw {
	background-color: #ffffff;
}

.slide {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}

.overlay {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
}

.tooltip {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

.off {
	display: none;
}

.slidetitle {
	z-index:10;
	color: black;
	visibility: visible;
	padding-left: 40px;
	font-size: 2rem;
	margin-bottom: 10px;
}

.dotsAll {
	z-index:10;
	padding-left: 40px;
}

.dots {
		margin-right: 6px;
	  margin-left: 6px;
    padding-left: 10px;
    border: 1px solid black;
    width: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.dots:hover, active {
	  background-color: grey;
}

.cursor {
	cursor: cell;
}


